{
    "data":
    [
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "10",
            "sig": "iSHARE_EN[1]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "0",
            "sig": "iPRG_START"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "1",
            "sig": "iPRG_PAUSE"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "2",
            "sig": "iPRG_STOP"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "20",
            "sig": "iSHARE_EN[11]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "9",
            "sig": "iSHARE_EN[0]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "19",
            "sig": "iSHARE_EN[10]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "22",
            "sig": "iSHARE_EN[13]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "3",
            "sig": "iPRG_LOAD"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "8",
            "sig": "oIS_MOVING"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "12",
            "sig": "iSHARE_EN[3]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "15",
            "sig": "iSHARE_EN[6]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "16",
            "sig": "iSHARE_EN[7]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "12",
            "sig": "oHOME"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "7",
            "sig": "iCOLLA_MODE"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "4",
            "sig": "iPRG_UNLOAD"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "2",
            "sig": "oENABLE_STATE"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "24",
            "sig": "iSHARE_EN[15]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "7",
            "sig": "oPRG_PAUSE"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "8",
            "sig": "iSAFE_SPEED"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "14",
            "sig": "iSHARE_EN[5]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "11",
            "sig": "iSHARE_EN[2]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "3",
            "sig": "oPRG_UNLOAD"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "10",
            "sig": "oAUTO_MODE"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "18",
            "sig": "iSHARE_EN[9]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "21",
            "sig": "iSHARE_EN[12]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "23",
            "sig": "iSHARE_EN[14]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "13",
            "sig": "iSHARE_EN[4]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "6",
            "sig": "iCLEAR_FAULTS"
        },
        {
            "@type": "com.hsc3.module.hook.HookDecoder",
            "iDin": "88",
            "lenDin": "2",
            "iR": "1"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "1",
            "sig": "oFAULTS"
        },
        {
            "@type": "com.hsc3.module.hook.HookEncoder",
            "iDout": "99",
            "lenDout": "1",
            "iR": "0"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "0",
            "sig": "oROBOT_READY"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "6",
            "sig": "oPRG_ERR"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "11",
            "sig": "oEXT_MODE"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "4",
            "sig": "oPRG_READY"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "9",
            "sig": "oMANUAL_MODE"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtOut",
            "iDout": "5",
            "sig": "oPRG_RUNNING"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "17",
            "sig": "iSHARE_EN[8]"
        },
        {
            "@type": "com.hsc3.module.hook.HookExtIn",
            "iDin": "5",
            "sig": "iENABLE"
        }
    ]
}
