{
    "iR": "100",
    "listRefRegData":
    [
        {
            "iGroup": "0",
            "iRef": "0",
            "iReg": "55",
            "precision": "5",
            "typeReg": "JR"
        },
        {
            "iGroup": "0",
            "iRef": "1",
            "iReg": "5",
            "precision": "3",
            "typeReg": "JR"
        }
    ],
    "mapEntry":
    {
        "1": "TEST_RUN.PRG",
        "0": "TEST_FALSE.PRG"
    }
}
